.foot{
    padding: 20px ;
}
.active{
    text-decoration:overline;
}
.foot-color{
    color: rgba(255, 255, 255);
    text-decoration: none;
}
.foot-color:hover{
    color: rgb(150, 150, 150);
}
.dropdown-color:hover{
    background-color: rgba(109, 113, 116, 0.315);
    color: black;
    
}
.margin150{
    margin-top: 150px;
}

.modal-close-btn {
    color: white; 
    background-color: rgb(34, 37, 41);
    opacity: 1;
    border: none;
}












/* Card Buttons */
.twt-card:hover{
    color: #1DA1F2 !important; 
}
.fb-card:hover{
    color: #4267B2 !important; 
}
.insta-card:hover{
    color: #E1306C !important;
}



/* Buttons */
.wa{
    background-color: #25D366;
    color: white;
}
.wa:hover{
    color: #25D366;
    background-color: white;
}

.twt{
    background-color: #1DA1F2;
    color: white;
}
.twt:hover{
    color: #1DA1F2;
    background-color: white;
}
.fb{
    color: white;
    background-color: #4267B2;
}
.fb:hover{
    background-color: white;
    color: #4267B2;
}
.yt{
    background-color: #FF0000;
    color: white;
}
.yt:hover{
    color: #FF0000;
    background-color: white;
}
.mail{
    color: goldenrod;
    background-color: white;
}
.mail{
    color: white;
    background-color: goldenrod;
}

