.foot{
    padding: 20px ;
}
.active{
    text-decoration:overline;
}
.foot-color{
    color: rgba(255, 255, 255, 0.61);
    border-block-color: rgb(253, 253, 253);
    text-decoration: none;
}
.foot-color:hover{
    color: aliceblue;
    text-decoration: none;
}

.dropdown-color:hover{
    background-color: rgba(109, 113, 116, 0.315);
    color: black;
    
}
.margin150{
    margin-top: 150px;
}

.modal-close-btn {
    color: white; 
    background-color: rgb(34, 37, 41);
    opacity: 1;
    border: none;
}