<%- include("partials/header") -%>

    <!-- Showcase -->
    <section class="p-5 mt-5 bg-info text-dark">
        <div class="container">
            <div class="jumbotron ">
                <h1 class="display-4 ">Hi! We're Sportify</h1>
                <hr class="my-3">
                <h5 class="font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quae ipsum earum quibusdam soluta. Natus, hic.</h5>

            </div>
    </section>

    <!-- Grid Cards -->
    <section class="p-4 mb-3 text-center">
        <div>
            <h1 class="d-3 mb-5">Meet Our Developers</h1>
        </div>
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-sm-6">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <div>
                                <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3"
                                    alt="" />
                            </div>
                            <h4 class="card-title mb-3">Pratik Bhadane</h4>
                            <h6 class=" d-2 card-subtitle mb-2 text-warning">IT Engineer</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quos,
                                id nam iste eum, mollitia voluptatum quod quam, impedit nesciunt maxime facilis
                                laudantium. Pariatur, quia.</p>
                            <a href="#"><i class="h3 fa twt-card fa-twitter text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa fb-card fa-facebook text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa twt-card fa-linkedin text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa insta-card fa-instagram text-light mx-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <div>
                                <img src="https://randomuser.me/api/portraits/men/29.jpg" class="rounded-circle mb-3"
                                    alt="" />
                            </div>
                            <h4 class="card-title mb-3">Chris Gonslaves</h4>
                            <h6 class=" d-2 card-subtitle mb-2 text-warning">IT Engineer</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quos,
                                id nam iste eum, mollitia voluptatum quod quam, impedit nesciunt maxime facilis
                                laudantium. Pariatur, quia.</p>
                            <a href="#"><i class="h3 fa twt-card fa-twitter text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa fb-card fa-facebook text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa twt-card fa-linkedin text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa insta-card fa-instagram text-light mx-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <div>
                                <img src="https://randomuser.me/api/portraits/men/10.jpg" class="rounded-circle mb-3"
                                    alt="" />
                            </div>
                            <h4 class="card-title mb-3">Swaraj Jinagouda</h4>
                            <h6 class=" d-2 card-subtitle mb-2 text-warning">IT Engineer</h6>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quos,
                                id nam iste eum, mollitia voluptatum quod quam, impedit nesciunt maxime facilis
                                laudantium. Pariatur, quia.</p>
                            <a href="#"><i class="h3 fa twt-card fa-twitter text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa fb-card fa-facebook text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa twt-card fa-linkedin text-light mx-2"></i></a>
                            <a href="#"><i class="h3 fa insta-card fa-instagram text-light mx-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include("partials/footer") -%>